html {
  font-family: sans-serif;
}
.body {
}
/* Your CSS below here */
.red-box {
  height: 100px;
  width: 300px;
  background: #a90329; /* Old browsers */
  background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
  background: -webkit-linear-gradient(
    top,
    #a90329 0%,
    #8f0222 44%,
    #6d0019 100%
  );
  background: linear-gradient(to bottom, #a90329 0%, #8f0222 44%, #6d0019 100%);
  -webkit-box-shadow: 9px 10px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 9px 10px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 9px 10px 5px 0px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  line-height: 100px;
  text-align: center;
  border: 2px solid red;
  color: red;
}
