html {
  font-family: sans-serif;
}

.box {
  margin: 20px auto;
  padding: 20px;
  background-image: linear-gradient(to bottom right, red, maroon);
  color: rgb(255, 67, 67);
  border: 2px solid maroon;
  border-radius: 5px;
  box-shadow: 4px 4px 3px rgba(44, 39, 39, 0.9);
  width: 300px;
  text-align: center;
  font-size: 2em;
}

div {
  text-shadow: 2px 2px 1px black;
}