html {
  font-family: sans-serif;
}

.cool-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: auto;
  text-align: center;
  width: 280px;
  height: 80px;
  color: #df0000;
  border: 1px solid #df0000;
  border-radius: 10px;
  /* box-shadow: 5px 5px 5px #df0000; */
  background-color: #df0000;
}
.cool-box p {
  font-size: 30px;
  /* color: white; */
  /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
  text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px;

}