html {
  font-family: sans-serif;
}

.coolbox {
  border: 1px solid rgb(184, 27, 27);
  width: 20%;
  height: 10vh;
  text-align: center;
  background: rgb(184, 27, 27);
  border-radius: 20px;
  color: rgb(253, 33, 33);
  box-shadow: 4px 4px 3px 0px rgb(158, 147, 147), inset 3px 3px 7px 0px rgb(245, 239, 239), inset -3px -3px 7px 0px rgb(37, 36, 36);
  text-shadow: 3px 2px 5px rgb(37, 36, 36);
  font-size: 25px;
}

/* Your CSS below here */