label{
    display: block;
    width: 100%;
    margin: 2px;
}
input {
    display: block;
    width: 30vw;
}
#submit {
    display: block;
    widows: 30vw;
    background-color: green;
    color: white;
    margin-top: 20px;
}
#result {
    display: none;
    width: 100%;
}