

html {
  font-family: 'Helvetica neue', Arial, 'sans serif';
  font-size: 10px;
}

body {
  width: 64em;
  margin: 0 auto;
}

.main-container {
  /* padding: 0rem 5rem 0rem 5rem; */
}
h1 {
  font-size: 4em;
}

h2 {
  font-size: 3.2em;
}

p li {
  font-size: 1.7em;
}


header, footer {
  background-color: teal;
  padding: 1em;
}



h1, footer p {

}

h1 {
  text-align: center;
  padding: 0.5em 0;
}


main {
  padding: 1em;
}

main p, main li {
  line-height: 2;
  font-size: 12px;
}

img {
  float: right;
  margin: 1.2em 2em;
}