<head>
  <link rel="stylesheet" type="text/css" href="styles.css" />
</head>

<h1>Programming languages</h1>
<ul>
  <% languages.forEach((language) => { %>
    <li><%= language %> &nbsp;</li>
  <% }) %>
</ul>
