<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Submit From With GET</title>
  </head>
  <body>
    <h3>Form with get</h3>

    <form action="/submit-form-with-get">
      <input
        type="text"
        name="first"
        placeholder="first name"
        aria-label="First Name"
      />
      <input
        type="text"
        name="last"
        placeholder="last name"
        aria-label="Last Name"
      />
      <input type="submit" value="Done" aria-label="Submit Details" />
    </form>

    <a href="/post-form">Open form with post</a>
  </body>
</html>
